.modal {
    display: none;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 15px;
    background: rgba(0, 0, 0, .6);
    z-index: 100;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 25px;
    box-sizing: border-box;
}

.modal-content {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
}

.modal__close {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    width: 35px;
    height: 35px;
    text-shadow: 2px 2px 0 rgb(0, 0, 0, .5);
    cursor: pointer;
    z-index: 2;
}

/*MODAL PRICE*/
.modal-price-head {
    position: relative;
    padding: 15px 25px 10px;
}
.modal-price-head:before {
    position: absolute;
    content: '';
    width: 2.78571429em;
    background: #4a90e2;
    bottom: 0;
    height: 1px;
    left: 25px;
}

.modal-price-head__title {
    font-size: 2.4em;
    font-weight: 300;
    line-height: 1.31818182em;
    letter-spacing: -0.01em;
    color: #252525;
    margin-bottom: 10px;
}
.modal-price-head__subtitle {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    color: #252525;
    font-weight: 500;
}
.modal-price-head__text {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    color: #808080;
    font-weight: 300;
}
.modal-price-head__text strong {
    color: #252525;
    font-weight: 400;
}


.modal-price__body {
    padding: 10px 25px;
}

.price-table-form__data {
    margin: 15px 0;
}

.price-table-form__group {
    display: flex;
    justify-content: space-between;
}

.price-table-form__group .price-table-form__item {
    width: calc(50% - 15px);
}

.price-table-form__item {
    text-align: left;
}

.price-table-form__item:first-child {
    margin-top: 0;
}

.price-table-form__item:last-child {
    margin-bottom: 0;
}

.price-table-form-label__title {
    display: block;
    color: #666666;
    margin-bottom: 5px;
    transition: .7s ease;
}

.price-table-form-label__title_error {
    color: #ff0000;
}

.price-table-form-label .price-table-form__field {
    font-weight: 300;
    border: 1px solid #ececec;
    background: #fcfcfc;
    border-radius: 3px;
    padding: 8px 12px;
}

.price-table-form-label .price-table-form__field:focus {
    border:1px solid #ececec;
}

.paypal-buttons_disabled:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/*THANKS POPUP */

/*SUCCESS ICON*/
.success-icon {
    position: relative;
    width: 80px;
    height: 80px;
    border: 4px solid #A5DC86;
    border-radius: 50%;
    box-sizing: content-box;
    margin: 0 auto;
}
.success-icon:before, .success-icon:after {
    position: absolute;
    content: '';
    height: 5px;
    background-color: #A5DC86;
    display: block;
    border-radius: 2px;
    z-index: 2;
}
.success-icon:before {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.success-icon:after{
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*SUCCESS ICON*/

/*.modal-thanks {*/
    /*display: block;*/
/*}*/
.modal-thanks-body {
    text-align: center;
    padding: 30px 15px 15px 15px;
}
.modal-thanks-body__icon {
    margin-bottom: 20px;
}
.modal-thanks__text {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    color: #000;
    font-weight: 300;
}

.modal-thanks__footer {
    text-align: center;
    padding: 10px 25px 25px;
}
.modal-body__ok {
    font-size: 20px;
    background: #A5DC86;
    color: #fff;
    padding: 10px 35px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease;
}
.modal-body__ok:hover {
    opacity: .7;
}

/*THANKS POPUP */

